.export-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1999;

	pointer-events: none;
	background-color: gray;
	opacity: 0.9;

	display: flex;
	align-items: center;
	justify-content: center;
}
